<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleof.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@(/bootstrap/css/bootstrap.css)"><link>

</head>
<body class="container">
    <h1>用户列表</h1>
    <br/>
    <div class="width:80%">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>name</th>
                    <th>age</th>
                    <th>time</th>
                    <th>edit</th>
                    <th>del</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>1111</th>
                    <th>1112</th>
                    <th>1113</th>
                    <th>1114</th>
                    <th>1115</th>
                    <th><a>编辑</a></th>
                    <th><a>删除</a></th>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="form-group">
        <div class="col-sm-2 control-label">
            <a href="/toAdd" class="btn btn-info">添加</a>
        </div>

    </div>
</body>
</html>